@import '../../../Scss/variables';

.user-profile {
  position: relative;

  &__information {
    transition: all .2s ease;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translateY(3rem) !important;
    display: block;
  }
  
  @include media-breakpoint-down(sm) {
    &__information {
      transform: translate(2rem, 3rem) !important;
    }
  }
}