@import '../../../scss/variables';

.brand-logo {
  width: auto;
  height: auto;

  &__image {
    width: 9.375rem;
    height: 3.125rem;
  }
  
  @include media-breakpoint-down(lg) {
    &__image {
      width: 8.75rem;
      height: 2.5rem;
    }
  }

  @include media-breakpoint-down(md) {
    &__image {
      width: 7.5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    &__image {
      width: 6.25rem;
      height: 2rem;
    }
  }
}