@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/typography';

.team-line {
  width: 100%;
  @include flex-sb;
  padding-bottom: var(--space-md);
  border-bottom: thin solid var(--e-global-color-grey-light);

  &__title {
    @include font-5;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--e-global-typography-primary);
    color: var(--e-global-color-accent)
  }

  &__image-wrapper {
    width: 5rem ;
    height: 5rem;

    &--image {
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint-down(md) {
    &__image-wrapper {
      width: 4rem ;
      height: 4rem;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 15px;

    &__image-wrapper {
      width: 3rem ;
      height: 3rem;
    }
  }
}