@import '../../../Scss/mixins';

.toast-custom {
  width: auto;
  min-width: 400px;
  padding: .5rem .7rem .7rem .5rem;
  border-radius: 8px;
  border-bottom: .35rem solid var(--e-global-color-error);
  background-color: var(--e-global-color-accent);

  &__header {
    width: 100%;
    padding: 0 1rem;
    @include flex-align-center;

    &--icon {
      margin-right: .8rem;
      font-size: 1.2rem;
      color: var(--e-global-color-error);
    }

    &--close {
      margin-left: auto;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }

  &__body {
    padding: .5rem 1rem;
  }
}