@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/typography';

.player {
  width: 31%;
  flex: 0 0 31.3%;
  position: relative;
  margin: 1%;
  cursor: pointer;
  border: 3px solid black;

  &:hover {
    border: 3px solid var(--e-global-color-primary);

    .player__image-wrapper {
      filter: grayscale(0);
    }

    .player__image-wrapper--image {
      transform: scale(1.1)
    }

    .player__wrapper {
      &:before {
        height: 20%;
        background: linear-gradient(0deg,#161620 0%,rgba(0,0,0,0) 100%);
        z-index: 1;
      }
    }
  }

  &__wrapper {
    @include full-size;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 40%;
      @include abs-bottom;
      transition: $main-transition;
      background: linear-gradient(0deg,#161620 0%,rgba(0,0,0,0) 100%);
      z-index: 1;
    }
  }

  &__content {
    @include abs-position(auto, auto, 7%, 7%);
    z-index: 2;

    &--nickname {
      @include heading-small;
    }

    &--role {
      @include subtitle-big;
    }
  }

  &__image-wrapper {
    @include full-size;
    overflow: hidden;
    transition: $main-transition;
    filter: grayscale(100%);

    &--image {
      transition: all .5s ease;
      @include object-fit;
    }
  }

  @include media-breakpoint-down(md) {
    flex: 0 0 31%;
  }

  @include media-breakpoint-down(sm) {
    width: 50%;
    flex: 0 0 47%;
  }
}