@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/typography';

.match-stats {
  text-align: center;

  &__item {
    &--subtitle {
      @include subtitle-big;
    }
  
    &--info {
      @include heading-stats;
    }
  
    &:not(:last-child) {
      position: relative;
  
      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        content: '';
        height: 5rem;
        width: 1px;
        opacity: .8;
        background-color: grey;
        transform: translateY(-50%) rotate(15deg);
  
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__item {
      &:not(:last-child) {
        &::after {
          height: 3.5rem;
        }
      }
    }
  }

  @include media-breakpoint-down(vsm) {
    &__item {
      &:not(:last-child) {
        &::after {
          height: 2.1rem;
          transform: translateY(-50%) rotate(0);
        }
      }
    }
  }
}