@import '../../../Scss/typography';
@import '../../../Scss/variables';

.badge {
  padding: .3rem 1rem;
  z-index: 100;
  background-color: var(--e-global-color-primary);

  &--title {
    text-transform: uppercase;
    @include font-2;
    font-family:var(--e-global-typography-secondary);
    font-weight: 300;
    color: var(--e-global-color-secondary);
  }

  @include media-breakpoint-down(sm) {
    padding: .25rem .8rem;
  }
}