@import '../../../Scss/typography';
@import '../../../Scss/mixins';

.cart-total {
  @include flex-align-center;

  &__title {
    margin-right: 1rem !important;
    @include font-5;
    font-family: var(--e-global-typography-secondary);
    color: var(--e-global-color-accent);
  }

  &__output {
    @include font-5;
    font-family: var(--e-global-typography-secondary);
    color: var(--e-global-color-accent);
    border-bottom: 3px solid var(--e-global-color-primary);
  }
}