@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/typography';

.latest-match-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: var(--e-global-color-secondary);

  &__match-info {
    padding-top: var(-space-lg);
    padding-bottom: 1rem;
    z-index: 10;

    &--title {
      @include heading-small;
      text-align: center;
    }

    &--icon-wrapper {
      text-align: center;
      margin-top: var(--space-xl);
    }

    &--vertical-line-top {
      margin-top: var(--space-xl);
    }

    &--match-stats {
      margin-top: var(--space-xl);
    }

    &--image-wrapper {
      z-index: -1;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      user-select: none;
  
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(0deg,#11131c 5%,#08091273 100%);
      }
    }

    &--image {
      width: 100%;
      height: auto;
      object-fit: cover;
      min-height: 50vh;
      z-index: -1;
    }
  }

  &__heading {
    margin-top: var(--space-xl);
  }

  &__team-line {
    margin-top: var(--space-sm);
  }

  &__teammates {
    width: 100%;
    margin: 1rem 0 1.5rem 0;
  }

  &__parallax {
    margin-top: var(--space-sm);
  }

  @include media-breakpoint-down(lg) {
    &__match-container {
      &--icon-wrapper {
        margin-top: var(--space-lg);
  
        &:after {
          top: 70%;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__match-container {
      &--icon-wrapper {
        &:after {
          height: 3rem;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__match-container {
      &--icon-wrapper {
        &:after {
          top: 25%;
        }
      }
    }
  }

  @include media-breakpoint-down(vsm) {
    &__match-container {
      &--icon-wrapper {  
        &:after {
          top: 20%;
          width: 2px;
        }
      }
    }
  }
}