@import '../../Scss/mixins';
@import '../../Scss/typography';

.shop {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--e-global-color-secondary);

  &__section-list {
    padding: var(--space-md) 0;
  }
}