@import '../../Scss/mixins';
@import '../../Scss/typography';

.shop {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--e-global-color-secondary);

  &__section-list {
    padding: var(--space-md) 0;
  }

  &__top-row {
    @include flex-align-center;
    justify-content: space-between;
    padding: 2rem 1rem;

    &--title {
      @include montserat-medium;
      color: var(--e-global-color-accent);

      span {
        color:  var(--e-global-color-primary);
      }
    }
  }

  &__filters {
    @include flex-center;
    
    & > * {
      margin-left: 1rem;
    }
  }

  &__pagination {
    @include flex-center;
    padding: var(--space-lg) 0;
  }

  @include media-breakpoint-down(vsm) {
    &__top-row {
      @include flex-align-center;
      flex-wrap: wrap;
      text-align: center;
      padding: 1rem 1rem 2rem 1rem;
    }

    &__result {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    &__filters {
      width: 100%;
      flex: 1;
      min-width: 12rem;
      
      & > * {
        margin-left: 1rem;
      }
    }

    &__pagination {
      padding-top: var(--space-md);
    }
  }
}