@import '../../../Scss/variables';
@import '../../../Scss/mixins';
@import '../../../Scss/typography';

.section-banner {
  @include full-size;
  padding: var(--space-huge) 0;
  background-image: url(../../../Assets/JPG/team-bg.jpg);
  @include cover-background;
  background-position: center center;
  position: relative;

  &__overlay {
    @include full-size;
    @include abs-position(0, auto, auto, 0);
    z-index: 0;
    background: rgba(14,16,23,.65);
  }

  [data-banner]::after {
    content: attr(data-banner)
  }

  &__wrapper {
    @include full-size;
    position: relative;

    &:after {
      @include abs-position(-80%, auto, auto, 5%);
      transform: translateY(-20%);
      opacity: .7;
      z-index: 1;
      text-transform: uppercase;
      font-size: 17.625rem;
      font-family: var(--e-global-typography-secondary);
      font-weight: 700;
      color: var(--e-global-color-dark-ligh);

      @include media-breakpoint-down(lg) {
        font-size: 13.625rem;
        @include abs-position(-60%, auto, auto, 6%);
      }

      @include media-breakpoint-down(md) {
        font-size: 10.625rem;
        @include abs-position(-40%, auto, auto, 2%);
      }

      @include media-breakpoint-down(sm) {
        font-size: 8.625rem;
        @include abs-position(-20%, auto, auto, 2%);
      }

      @include media-breakpoint-down(vsm) {
        font-size: 6.625rem;
        @include abs-position(-20%, auto, auto, 2%);
      }

      @include media-breakpoint-down(tiny) {
        font-size: 5.625rem;
        @include abs-position(-20%, auto, auto, 2%);
      }
    }
  }
  
  &__content {
    height: 100%;
    z-index: 10;
    position: relative;
  }

  &__breadcrumbs {
    margin-top: var(--space-md);
  }

  @include media-breakpoint-down(lg) {
    padding: var(--space-xxl) 0;
  }

  @include media-breakpoint-down(md) {
    padding: var(--space-xl) 0;
  }

  @include media-breakpoint-down(sm) {
    padding: var(--space-lg) 0;
  }
}