@import '../../../Scss/variables';
@import '../../../Scss/mixins';
@import '../../../Scss/typography';

.section-banner {
  @include full-size;
  padding: var(--space-huge) 0;
  background-image: url(../../../Assets/JPG/team-bg.jpg);
  @include cover-background;
  background-position: top center;
  position: relative;

  &__overlay {
    @include full-size;
    @include abs-position(0, auto, auto, 0);
    z-index: 0;
    background: rgba(14,16,23,.65);
  }

  [data-banner]::after {
    content: attr(data-banner)
  }

  &__wrapper {
    @include full-size;
    position: relative;

    &:after {
      @include abs-position(-90%, auto, auto, 5%);
      @include archivo-xxl;
      z-index: 1;
    }
  }
  
  &__content {
    height: 100%;
    z-index: 10;
    position: relative;
  }

  &__breadcrumbs {
    margin-top: var(--space-md);
  }

  @include media-breakpoint-down(xl) {
    &__wrapper {
      &:after {
        top: -60%;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding: var(--space-xxxl) 0;

    &__wrapper {
      &:after {
        top: -55%;
        left: 10%;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: var(--space-xxl) 0;

    &__wrapper {
      &:after {
        top: - 56%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding: var(--space-xl) 0;

    &__wrapper {
      &:after {
        top: - 50%;
        left: 2%;
      }
    }
  }

  @include media-breakpoint-down(vsm) {
    padding: var(--space-xl) 0;

    &__wrapper {
      &:after {
        top: - 35%;
      }
    }
  }
}