@import '../../../Scss/mixins';
@import '../../../Scss/variables';

.shop-item-info {
  &__title {
    margin-bottom: var(--space-sm) !important;
  }

  &__breadcrumbs {
    margin-top: var(--space-md);
  }

  &__product {
    @include full-size;
    display: flex;
    margin-top: var(--space-xl);

    &--image-wrapper {
      flex: 2.5;
      width: 100%;
      max-width: 638px;
      min-width: 546px;
      height: 380px;
      max-height: 380px;
      overflow: hidden;
      border: 2px solid var(--e-global-color-dark-deep);
    }

    &--image {
      height: 338px;
      object-fit: cover;
    }

    &--description {
      flex: 1;
      padding-left: var(--space-md);
    }
  }

  @include media-breakpoint-down(lg) {
    &__product {
      flex-direction: column;
      margin-top: var(--space-lg);

      &--image-wrapper {
        min-width: 100%;
      }
  
      &--description {
        flex: 1;
        padding-left: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__product {
      &--image-wrapper {
        max-height: 320px;
      }
    }
  }
}