@import '../../Scss/variables';
@import '../../Scss/mixins';

.login-page {
  @include flex-center;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  background-image: url(../../Assets/JPG/main-bg.jpg);
  @include cover-background;
  background-position: center center;
  background-color: var(--e-global-color-text-light);

  &__wrapper {
    @include full-size;
    padding: 3rem;
  }

  &__content {
    @include full-size;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid var(--e-global-color-secondary);
  }

  &__aside {
    flex: 30%;
    min-width: 17rem;
    position: relative;
    overflow: hidden;
    background-image: url(../../Assets/JPG/bluebg.jpg);
    @include cover-background;
    border-right: 2px solid var(--e-global-color-dark-deep);
    background-color: var(--e-global-color-primary);

    &__overlay {
      @include full-size;
      @include abs-position (0, 0, 0, 0);
      background-color: black;
      opacity: .4;
    }

    &--tabs {
      border: none;
      @include abs-position (40%, -1%, auto, auto);
      transform: translateY(-40%);
    }

    &--tab {
      @include full-size;
      overflow: hidden;
    }

    &--link,
    &--link:hover,
    &--link:focus {
      @include full-size;
      padding: 1.7rem 2.5rem;
      text-transform: uppercase;
      border: none !important;
      border-radius: none;
      color: var(--e-global-color-accent);

      &:hover {
        color: var(--e-global-color-text);
      }
    }

    &--link.active {
      color: var(--e-global-color-primary) !important;
      background-color: var(--e-global-color-secondary) !important;
    }
  }

  &__main {
    flex: 70%;
    height: 100%;
    position: relative;
    @include flex-center;
    background-color: var(--e-global-color-secondary);

    &--tabs {
      display: none;
    }

    &--title {
      margin-bottom: 3rem;
      color: var(--e-global-color-accent);
    }

    &--content {
      width: 45%;
      min-width: 23rem;
    }
  }

  @include media-breakpoint-down(md) {
    &__content {
      border: none;
    }

    &__wrapper {
      padding: 3rem 1rem;
    }

    &__aside {
      display: none;
  }

    &__main {
      flex: 100%;

      &--tabs {
        display: flex;
        @include abs-position (0, 0, auto, 0);
        border: none;
      }

      &--tab {
        width: 50%;
        text-align: center;
        border-radius: 0 !important;
        border: none !important;
        background-color: var(--e-global-color-accent);
      }

      &--link {
        width: 100%;
        border-radius: 0 !important;
        border: none !important;
        text-transform: uppercase;
        color: var(--e-global-color-secondary);
      }

      &--link.active  {
        border-radius: 0 !important;
        border: none !important;
        color: var(--e-global-color-primary) !important;
        background-color: var(--e-global-color-secondary) !important;

        &:hover {
          color: var(--e-global-color-primary);
        }
      }

      &--content {
        width: 80%;
        min-width: auto;
      }
    }
  }
}