@import '../../Scss/variables';
@import '../../Scss/mixins';
@import '../../Scss/typography';

.login-page {
  @include flex-center;
  width: 100vw;
  height: 100vh;
  padding-top: var(--header-height);
  overflow-y: auto;
  position: relative;
  background-image: url(../../Assets/JPG/main-bg.jpg);
  @include cover-background;
  background-position: center center;
  background-color: var(--e-global-color-text-light);

  &__wrapper {
    @include full-size;
    padding: 3rem;
  }

  &__content {
    @include full-size;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 6px 5px 22px 2px rgba(0,0,0,0.62);
  }

  &__aside {
    flex: 30%;
    min-width: 17rem;
    position: relative;
    overflow: hidden;
    background-image: url(../../Assets/JPG/bluebg.jpg);
    @include cover-background;
    background-color: var(--e-global-color-primary);

    &__overlay {
      @include full-size;
      @include abs-position (0, 0, 0, 0);
      background-color: var(--e-global-color-secondary);
      opacity: .4;
    }

    &--tabs {
      border: none;
      @include abs-position (40%, 0, auto, auto);
      transform: translateY(-40%);
    }

    &--tab {
      @include full-size;
      overflow: hidden;
    }

    &--link,
    &--link:hover,
    &--link:focus {
      @include full-size;
      padding: 1.7rem 2.5rem;
      text-transform: uppercase;
      border: none !important;
      border-radius: none;
      color: var(--e-global-color-accent);

      &:hover {
        color: var(--e-global-color-text);
      }
    }

    &--link.active {
      color: var(--e-global-color-primary) !important;
      background-color: var(--e-global-color-secondary) !important;
    }
  }

  &__main {
    flex: 70%;
    height: 100%;
    @include flex-center;
    position: relative;
    z-index: 10;

    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      background: rgb(0,0,0);
      background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(240, 239, 239, 0.335) 0%);
    }

    &--background {
      @include full-size;
      @include abs-position (0, 0, 0, 0);
      background-color: var(--e-global-color-secondary);
      z-index: 1;
    }

    &--tabs {
      display: none;
    }

    &--title {
      text-align: center;
      margin-bottom: 3rem;
    }

    &--content {
      width: 45%;
      min-width: 23rem;
      z-index: 10;
      position: relative;
    }
  }

  @include media-breakpoint-down(md) {
    &__content {
      border: none;
    }

    &__wrapper {
      padding: 1rem;
    }

    &__aside {
      display: none;
  }

    &__main {
      align-items: start;
      flex: 100%;

      &--tabs {
        display: flex;
        border: none;
        margin-bottom: 6rem;
      }

      &--tab {
        width: 50%;
        text-align: center;
        border-radius: 0 !important;
        border: none !important;
        background-color: var(--e-global-color-accent);
        @include font-3;
      }

      &--link {
        width: 100%;
        border-radius: 0 !important;
        border: none !important;
        text-transform: uppercase;
        color: var(--e-global-color-secondary);
      }

      &--link.active  {
        border-radius: 0 !important;
        border: none !important;
        color: var(--e-global-color-primary) !important;
        background-color: var(--e-global-color-secondary) !important;

        &:hover {
          color: var(--e-global-color-primary);
        }
      }

      &--content {
        width: 85%;
        min-width: auto;
        height: 100%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    height: 100vh;

    &__wrapper {
      padding: 1rem .5rem;
    }

    &__main {
      flex: 100%;
      align-items: start;

      &--tabs {
        display: flex;
        border: none;
        margin-bottom: 2rem;
      }

      &--title {
        display: none;
      }
    }
  }
}