@import '../../../Scss/typography';
@import '../../../Scss/variables';

.dropdown-custom,
.dropdown-custom:focus,
.dropdown-custom:active {
  background-color: var(--e-global-color-dark-deep);
  border: thin solid var(--e-global-color-primary);
  outline: none;
  border-radius: 0 12px;
  padding: .5rem 2rem;

  &:hover {
    background-color: var(--e-global-color-secondary);
    border: thin solid var(--e-global-color-primary);
  }

  @include media-breakpoint-down(md) {
    padding: .5rem 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    padding: .4rem 1.2rem;
  }
}

.dropdown-custom__item.active {
  @include font-3;
  background-color: var(--e-global-color-light-border);

  &:hover {
    background-color: var(--e-global-color-light-border);
  }
}

.dropdown-custom__item,
.dropdown-custom__item:focus,
.dropdown-custom__item:active {
  padding: .7rem;
  @include font-3;
  color: var(--e-global-color-accent);

  &:hover {
    color: var(--e-global-color-accent);
    background-color: var(--e-global-color-light-border-dark);
  }
}

.dropdown-custom-menu {
  margin-top: .3rem !important;
  padding: 0;
  border: 2px solid var(--e-global-color-primary);
  background-color: var(--e-global-color-secondary);
}