@import '../../../Scss/typography';
@import '../../../Scss/mixins';
@import '../../../Scss/variables';

.categories {
  display: flex;
  flex-wrap: wrap;

  &__title {
    margin-right: var(--space-sm) !important;
    @include font-2;
    color: var(--e-global-color-text);
  }

  &__list {
    @include flex-center;
    flex-wrap: wrap;

    &--item {
      &:not(:last-child) {
        margin-right: var(--space-vsm) !important;
      }
    }

    &--title {
      opacity: .9;
      cursor: pointer;
      transition: color .15s linear;
      @include font-2;
      text-transform: capitalize;
      color: var(--e-global-color-accent);

      &:hover {
        color: var(--e-global-color-primary);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__list {
      &--item {
        &:not(:last-child) {
          margin-right: var(--space-vsm) !important;
        }
      }
    }
  }
}