@import '../../../scss/variables';
@import '../../../scss/mixins';

.not-found-matches {
  @include full-size;
  text-align: center;
  color: var(--e-global-color-primary);

  &--title {
    font-size: 2.5rem;
  }

  @include media-breakpoint-down(lg) {
    &--title {
      font-size: 2rem;
    }
  }

  @include media-breakpoint-down(md) {
    &--title {
      font-size: 1.6rem;
    }
  }

  @include media-breakpoint-down(sm) {
    &--title {
      font-size: 1.4rem;
    }
  }

  @include media-breakpoint-down(vsm) {
    &--title {
      font-size: 1.1rem;
    }
  }
}