@import '../../../Scss/variables';

.stars {
  &__item {
    color: var(--e-global-color-text);
    
    &--fill {
      color: var(--e-global-color-primary);
    }
  }

  @include media-breakpoint-down(sm) {
    &__item {
      font-size: .9rem;
      
      &--fill {
        font-size: .9rem;
      }
    }
  }

  @include media-breakpoint-down(vsm) {
    &__item {
      font-size: .8rem;
      
      &--fill {
        font-size: .8rem;
      }
    }
  }
}