@import '../../../Scss/typography';

.review-tabs {
  &__tab {
    @include font-2;
    color: var(--e-global-color-accent);
    padding: 1rem 2rem;

    &:hover {
      outline: none;
      color: var(--e-global-color-text);
    }
  }

  &__tab-description {
    &--title {
      padding-top: var(--space-md) !important;
      margin-bottom: var(--space-md) !important;
      @include oswald-lg;
      color: var(--e-global-color-accent);
    }

    &--about {
      @include text-plain;
      line-height: 1.6rem;
    }
  }

  &__tab-reviews {
    &--title {
      padding-top: var(--space-md) !important;
      margin-bottom: var(--space-md) !important;
      @include oswald-lg;
      color: var(--e-global-color-accent);

      span {
        color: var(--e-global-color-primary);
      }
    }
  }

  &__tab.active {
    background-color: var(--e-global-color-primary) !important;
    border-color: var(--e-global-color-primary) !important;
    color: var(--e-global-color-dark-deep) !important;
  }
}