@import '../../../Scss/typography';
@import '../../../Scss/mixins';
@import '../../../Scss/variables';

.cart-item {
  @include full-size;
  display: flex;
  height: 17rem;
  margin-bottom: var(--space-lg) !important;
  border: 1px solid var(--e-global-color-light-border);

  &__image-wrapper {
    @include full-size;
    flex: 30%;
    min-width: 21rem;
    display: block;
    position: relative;

    &--image {
      display: block;
      width: 100%;
      height: inherit;
      @include abs-position(0, auto, auto, 0);
      object-fit: cover;
    }
  }

  &__info {
    flex: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: .5rem 4%;
    position: relative;

    &--top-row {
      display: flex;
      flex-direction: column;
    }

    &--title {
      margin-bottom: .1rem !important;
      @include oswald-lg;
      color: var(--e-global-color-primary);
    }

    &--price {
      color: var(--e-global-color-primary);
      @include oswald-lg;
    }

    &--icon {
      @include abs-position(1%, 1%, auto, auto);
      cursor: pointer;
      font-size: 2rem;
      color: var(--e-global-color-accent);
    }
  }

  &__bottom-row {
    @include flex-sb;
    padding-right: var(--space-md);
    padding-bottom: 1rem;
  }

  @include media-breakpoint-down(lg) {
    height: 14.5rem;

    &__image-wrapper {
      min-width: 16rem;
    }

    &__info {
      &--title {
        @include oswald-medium;
      }

      &--price {
        @include oswald-medium;
        line-height: 2.5rem !important;
      }
    }

    &__bottom-row {
      flex-direction: column;
      align-items: flex-start;
      padding-right: 0;
      padding-bottom: .5rem;
  
      &--category-list {
        margin-bottom: .4rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    height: 12rem;
    margin-bottom: var(--space-md) !important;

    &__image-wrapper {
      flex: 30%;
      min-width: 12rem;
    }

    &__info {
      &--price {
        line-height: 2rem !important;
      }
    }

    &__bottom-row {
      padding-bottom: .3rem;
  
      &--category-list {
        margin-bottom: .2rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    height: 11rem;

    &__image-wrapper {
      min-width: 10rem;
    }

    &__info {
      &--price {
        line-height: 2rem !important;
      }
    }

    &__bottom-row {
      padding-bottom: .3rem;
  
      &--category-list {
        margin-bottom: .2rem;
      }
    }
  }

  @include media-breakpoint-down(vsm) {
    height: 10rem;

    &__image-wrapper {
      min-width: 6rem;
    }

    &__info {
      padding: .3rem 3%;

      &--price {
        line-height: 1.8rem !important;
      }
    }

    &__bottom-row {
      padding-bottom: .1rem;
    }
  }
}