@import '../../../Scss/typography';
@import '../../../Scss/mixins';

.cart-item {
  @include full-size;
  display: flex;
  height: 17rem;
  margin-bottom: var(--space-lg) !important;
  border: 1px solid var(--e-global-color-light-border);

  &__image-wrapper {
    @include full-size;
    flex: 30%;
    display: block;
    position: relative;

    &--image {
      display: block;
      width: 100%;
      height: inherit;
      @include abs-position(0, auto, auto, 0);
      object-fit: cover;
    }
  }

  &__info {
    flex: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: .5rem 5%;

    &--top-row {
      display: flex;
      flex-direction: column;
    }

    &--bottom-row {
      @include flex-sb;
    }

    &--title {
      margin-bottom: .1rem !important;
      @include oswald-lg;
      color: var(--e-global-color-primary);
    }

    &--icon {
      @include abs-position(1%, 1%, auto, auto);
      cursor: pointer;
      font-size: 2rem;
      color: var(--e-global-color-accent);
    }
  }
}