@import '../../Scss/mixins';

.main-page {
  overflow: hidden;
  z-index: -2;

  &__content {
    @include full-size;
    background-image: url(../../Assets/JPG/main-bg.jpg);
    background-repeat: repeat;
    background-size: contain;
  }

  &__parallax {
    padding-top: var(--space-xl);
  }
}