.mainPage {
  // background-color: var(--e-global-color-secondary);
  z-index: -2;
}

.main-content {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/bgmain.jpg);
  background-repeat: repeat;
  background-size: cover;
}