@import '../../../scss/mixins';
@import '../../../scss/variables';
@import '../../../scss/typography';

.player-follow {
  width: 100%;

  &__list {
    @include full-size;
    @include flex-align-center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;

    &:after {
      content: 'stream';
      @include abs-center;
      font-size: 15rem;
      text-transform: uppercase;
      font-family: var(--e-global-typography-secondary);
      z-index: -1;
    }
  }

  &__item {
    flex: 1;
    @include flex-align-center;
    flex-direction: column;
    min-width: 10rem;
    margin-bottom: var(--space-lg);
    cursor: pointer;

    &--icon {
      margin-bottom: var(--space-md);
      transition: color .3s ease;
      font-size: 5rem;
      color: var(--e-global-color-primary);
    }

    &--title {
      margin-bottom: var(--space-sm);
      @include font-4;
      font-weight: 600;
      text-transform: uppercase;
      font-family: var(--e-global-typography-primary);
      color: var(--e-global-color-accent);
    }

    &--status {
      @include font-2;
      text-transform: uppercase;
      color: var(--e-global-color-text);
      opacity: .8;

      &-active {
        @include font-2;
        text-transform: uppercase;
        color: var(--e-global-color-primary);
        opacity: 1;
      }
    }

    &:hover {
      .player-follow__item--icon {
        color: var(--e-global-color-accent);
      }
    }
  }

  @include media-breakpoint-down(xl) {
    &__list {
      &:after {
        font-size: 12rem;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &__list {
      &:after {
        font-size: 10rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__list {
      &:after {
        font-size: 7.6rem;
      }
    }

    &__item {
      &--title {
        margin-bottom: var(--space-vsm);
      }

      &--icon {
        font-size: 4rem;
        margin-bottom: var(--space-sm);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__list {
      &:after {
        content: 'stream';
        @include abs-center;
        z-index: -1;
        transform: translate(-50%, -50%) rotate(90deg) !important; 
      }
    }

    &__item {
      min-width: 100%;
      margin-bottom: var(--space-lg) !important;

      &--icon {
        font-size: 3.5rem;
        margin-bottom: var(--space-vsm);
      }
    }
  }

  @include media-breakpoint-down(vsm) {
    &__item {
      margin-bottom: var(--space-md) !important;
    }
  }
}