@import '../../Scss/mixins';

.cart-page {
  @include full-size;
  overflow: hidden;
  background-color: var(--e-global-color-secondary);

  &__heading {
    margin: var(--space-xxl) auto;
  }

  &__top-row {
    @include flex-align-center;
    justify-content: flex-end;
    margin: var(--space-lg) auto;

    &--total-price {
      margin-right: var(--space-lg);
    }
  }

  &__list {
    margin: var(--space-lg) 0;
    width: 100%;
  }

  &__empty {
    margin: var(--space-xxl) 0;
  }
}