@import '../../Scss/mixins';

.cart-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: var(--header-height);
  overflow: hidden;
  background-color: var(--e-global-color-secondary);

  &__heading {
    margin: var(--space-lg) auto;
  }

  &__top-row {
    @include flex-align-center;
    justify-content: flex-end;
    margin: var(--space-lg) auto;

    &--total-price {
      margin-right: 1rem;
    }
  }

  &__list {
    margin: var(--space-md) 0;
    width: 100%;
  }
}