@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/typography';

.header {
  @include flex-align-center;
  height: var(--header-height);
  z-index: 1000;
  background-color: var(--e-global-color-secondary);
  border-bottom: thin solid var(--e-global-color-11b58b5);

  &__wrapper {
    @include flex-align-center;
    width: 95%;
    z-index: 100;
    margin: 0 auto;
  }

  &__content {
    width: 100%;
    @include flex-align-center;
  }

  &__navigation {
    margin-left: 3rem !important;
  }

  &__link {
    width: 100%;
    @include font-2;
    text-transform: uppercase;
    font-family:var(--e-global-typography-primary);
    font-weight: 600;
    color: var(--e-global-color-accent);

    &:hover {
      color: var(--e-global-color-primary);
    }
  }

  &__aside {
    @include flex-align-center;
    margin-left: auto;
    padding-right: 3rem;

    & > * {
      padding: 0 1rem;
    }
  }

  @include media-breakpoint-down(lg) {
    &__aside {
      padding-right: 4rem;
  
      & > * {
        padding: 0 1rem;
      }
    }

    &__navigation {
     display: none;
     visibility: hidden;
    }
  }

  @include media-breakpoint-down(sm) {
    &__aside {
      padding-right: 4rem !important;

      &--cart-link {
        display: none;
        visibility: none;
      }
    }
  }
}