@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/typography';

.header {
  @include flex-align-center;
  height: 5.125rem;
  z-index: 1000;
  background-color: var(--e-global-color-secondary);
  border-bottom: thin solid var(--e-global-color-11b58b5);

  &__wrapper {
    @include flex-align-center;
    width: 95%;
    z-index: 100;
    margin: 0 auto;
  }

  &__navigation {
    margin-left: 8rem !important;
  }

  &__link {
    width: 100%;
    @include oswald-sm;
    color: var(--e-global-color-accent);

    &:hover {
      color: var(--e-global-color-primary);
    }
  }

  &__hamburger-menu {
    margin-left: auto;
  }

  @include media-breakpoint-down(xl) {
    &__navigation {
      margin-left: 6rem !important;
    }
  }

  @include media-breakpoint-down(md) {
    height: 4.9rem;
  }

  @include media-breakpoint-down(sm) {
    height: 4.4rem;
  }

  @include media-breakpoint-down(vsm) {
    height: 4rem;
  }
}