@import '../../../Scss/typography';
@import '../../../Scss/mixins';

.cart-empty {
  @include flex-center;
  flex-direction: column;

  &__top-row {
    @include flex-center;
    margin-bottom: var(--space-md);
    text-align: center;

    &--title {
      @include font-5;
      color: var(--e-global-color-text);
    }
  }

  &__link {
    @include font-5;
    @include flex-align-center;
    
    &--title {
      margin-right: var(--space-sm) !important;
    }
  }
}