@import '../../../Scss/variables';
@import '../../../Scss/mixins';

.shop-button {
  @include flex-center;
  width: 210px;
  padding: 19px;
  font-size: 12px;
  border-radius: 0 13px;
  background-color: var(--e-global-color-primary);

  &__icon {
    margin-right: 1rem;
    font-size: 1.2rem;
  }

  &__title {
    text-transform: uppercase;
  }
}