@import '../../../Scss/typography';

.login-button {
  width: 100%;
  padding: .7rem 2rem;
  outline: none;
  border: none;
  transition: opacity .2s ease;
  @include oswald-sm;
  text-transform: uppercase;
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-secondary);

  &:hover {
    opacity: .85;
  }
}