@import '../../../scss/variables';
@import '../../../scss/mixins';

.latest-matches {
  @include full-size;
  overflow: hidden;
  padding-top: var(--space-xl);

  &__wrapper {
    @include full-size;
  }

  &__heading {
    @include full-size;
    display: inline-block;
  }

  &__sort-row {
    padding-top: var(--space-xl);
  }

  &__list {
    @include full-size;
    min-height: 20rem;
    padding: 3rem 0 !important;
    position: relative;
  }

  &__pagination {
    @include flex-center;
  }

  @include media-breakpoint-down(md) {
    &__list {
      min-height: 15rem;
    }
  }

  @include media-breakpoint-down(sm) {
    &__list {
      min-height: 10rem;
      padding: 1.5rem 0 !important;
    }
  }

  @include media-breakpoint-down(vsm) {
    &__list {
      padding: 1rem 0 !important;
    }
  }
}