@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/typography';

%statsLineItem {
  height: 100%;
  flex: 1;
  display: block;
  text-align: center;
  margin-bottom: 3rem !important;

  &:not(:last-child) {
    position: relative;

    &::after {
      content: '';
      width: 2px;
      height: 5rem;
      @include abs-position(50%, 0, auto, auto);
      transform: translate(50%, -50%) rotate(15deg);
      background-color: var(--e-global-color-11b58b5);
    }
  }
}

.line-stats {
  @include full-size;

  &__list {
    width: 100%;
    @include flex-align-center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    @extend %statsLineItem;

    &--title {
      @include archivo-small;
      color: var(--e-global-color-primary);
    }
  }

  &__item-extended {
    min-width: 190px;
    @include flex-center;
    @extend %statsLineItem;
    text-align: left;

    &--content {
      margin-left: 1rem;
    }

    &--title {
      @include archivo-small;
      color: var(--e-global-color-primary);
    }

    &--info {
      &-medium {
        @include oswald-medium;
      }

      &-big {
        @include archivo-large;
      }
    }
    
    &--image {
      width: 3.125rem;
      height: 3.125rem;
    }
  }

  @include media-breakpoint-down(lg) {
    %statsLineItem {
      position: relative;

      &:not(:last-child) {
        &::after {
          display: none;
        }
      }
    }

    &__item-extended {
      &--content {
        margin-left: .6rem;
      }

      &--title {
        margin-bottom: 0 !important;
      }

      &--image {
        width: 2.9rem;
        height: 2.9rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__list {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
    }

    &__item {
      margin-bottom: 2rem !important;
    }

    &__item-extended {
      &--content {
        margin-left: .6rem;
      }

      &--title {
        margin-bottom: 0 !important;
      }

      &--image {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  @include media-breakpoint-down(vsm) {
    %statsLineItem {
      margin-bottom: 1.7rem !important;
    }
  }
}