@import '../../Scss/typography';
@import '../../Scss/mixins';

.shop-item-page {
  @include full-size;
  overflow: hidden;
  position: relative;
  background-color: var(--e-global-color-secondary);

  &__section-item-info {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
    background-image: url(../../Assets/JPG/portal-bg.jpg);
    @include cover-background;
  }

  &__section-review {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
  }

  @include media-breakpoint-down(md) {
    &__section-item-info {
      padding-top: var(--space-md);
    }
  
    &__section-review {
      padding-top: var(--space-md);
    }
  }
}