@import '../../Scss/typography';
@import '../../Scss/mixins';

.shop-item-page {
  @include full-size;
  overflow: hidden;
  position: relative;
  background-color: var(--e-global-color-secondary);

  &__section-item-info {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
    background-image: url(../../Assets/JPG/portal-bg.jpg);
    @include cover-background;
  }

  &__section-review {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
  }

  &__related-items {
    text-align: center;
    margin-bottom: var(--space-xxl);

    &--title {
      margin-bottom: var(--space-md) !important;
      @include font-6;
      font-weight: 600;
      font-family: var(--e-global-typography-primary);
      text-transform: uppercase;
      color: var(--e-global-color-accent);
    }
  
    &--pagination {
      @include flex-center;
      margin-top: var(--space-md);
    }
  }

  @include media-breakpoint-down(md) {
    &__section-item-info {
      padding-top: var(--space-md);
    }
  
    &__section-review {
      padding-top: var(--space-md);
    }
  }
}