@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/typography';

.hero {
  @include flex-center;
  width: 100%;
  height: 100%;
  max-height: 1000px;
  margin-top: -120px;
  position: relative;

  &__row {
    width: 100%;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    margin: 0 1.5rem;
    padding-bottom: 7.5rem;

    &--pandemic {
      max-width: 100%;;
      height: auto;
    }

    &--button {
      margin-top: 1rem;
    }
  }

  &__background {
    @include abs-top;
    overflow: hidden;
    z-index: -1;

    &--video {
      @include abs-top;
      object-fit: cover;
      height: 106%;
    }
  }

  &__doctor {
    position: absolute;
    bottom: -1%;
    left: 56% !important;
    z-index: -1;
    transform: translateX(-50%) !important;
  }

  &__shape {
    width: 100%;
    position: absolute;
    bottom: -1%;
    left: 0;
    fill: var(--e-global-color-secondary);
  }

  @include media-breakpoint-down(xxl) {
    &__doctor {
      left: 55%;
    }
  }

  @include media-breakpoint-down(lg) {
    &__row {
      &--button {
        margin-top: 3rem;
      }
    }

    &__doctor {
      left: 57%;
    }
  }

  @include media-breakpoint-up(md) {
    height: 100vh;
  }

  @include media-breakpoint-down(md) {
    margin-top: -2.2rem;

    &__row {
      padding-top: 6.25rem;
      padding-bottom: 7.5rem;
    }

    &__background {
      &--video {
        height: 107%;
      }
    }

    &__shape {
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
      fill: var(--e-global-color-secondary);
    }
  }
}