@import '../../../Scss/variables';
@import '../../../Scss/typography';
@import '../../../Scss/mixins';

.shop-button {
  @include flex-center;
  padding: .9rem 2rem;
  border-radius: 0 13px;
  outline: none;
  border: none;
  background-color: var(--e-global-color-primary);

  &__icon {
    @include font-3;
    margin-right: 1rem;
  }

  &__title {
    @include font-3;
    font-weight: 600;
    font-family: var(--e-global-typography-tertiary);
    color: var(--e-global-color-secondary);
    text-transform: uppercase;
  }

  &:hover {
    opacity: .9;
  }

  @include media-breakpoint-down(lg) {
    padding: .9rem 2rem;
  }

  @include media-breakpoint-down(sm) {
    padding: .8rem 1.8rem;

    &__icon {
      margin-right: .9rem;
    }
  }

  @include media-breakpoint-down(vsm) {
    padding: .7rem 1.6rem;

    &__icon {
      margin-right: .8rem;
    }
  }
}