@import '../../../scss/variables';
@import '../../../scss/typography';
@import '../../../scss/mixins';

.match-item {
  @include full-size;
  margin: var(--space-lg) 0;
  position: relative;
  z-index: 5;

  &:hover {
    cursor: pointer;
    @include transform-element(left, left, 10);
    @include transform-element(right, right, 10);
  }

  &__wrapper {
    height: 100%;
    @include flex-center;
    position: relative;
  }

  &__back {
    @include abs-center;
    @include full-size;
    max-width: 87%;
    max-height: 8rem;
    opacity: .8;
    background-color: var(--e-global-color-dark-middle);
  }

  @include media-breakpoint-down(xl) {
    &__back {
      width: 80%;
      max-height: 7rem;
    }
  }

  @include media-breakpoint-down(lg) {
    &__back {
      max-height: 6rem;
    }
  }

  @include media-breakpoint-down(md) {
    &__back {
      max-height: 5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    &__back {
      max-height: 4rem;
    }
  }

  @include media-breakpoint-down(vsm) {
    &__back {
      max-height: 3rem;
    }
  }
}