@import '../../../Scss/typography';
@import '../../../Scss/mixins';

.sign-up {
  @include full-size;
  @include font-2;
  font-family: var(--e-global-typography-primary);
  color: var(--e-global-color-accent);

   &__form-group {
     margin-bottom: 1rem;
   }
}