@import '../../../Scss/variables';
@import '../../../Scss/mixins';

.user-profile {
  position: relative;

  &__information {
    transition: all .2s ease;
    @include abs-position(0%, 0%, auto, auto);
    transform: translateY(3rem) !important;
    display: block;
  }
  
  @include media-breakpoint-down(sm) {
    &__information {
      transform: translate(2rem, 3rem) !important;
    }
  }
}