@import '../../../Scss/variables';
@import '../../../Scss/mixins';
@import '../../../Scss/typography';

.match__date {
  width: 35%;
  height: 2.2rem;
  @include flex-center;
  @include abs-position(auto, auto, 0, 50%);
  transform: translate(-50%, 0);
  opacity: .8;
  border-radius: 0 0 1.25rem 1.25rem;
  @include font-2;
  font-weight: 600;
  font-family: var(--e-global-typography-primary);
  color: var(--e-global-color-secondary);
  background-color: var(--e-global-color-primary);

  @include media-breakpoint-down(xl) {
    bottom: -2%;
  }

  @include media-breakpoint-down(lg) {
    height: 2.1rem;
    bottom: -8%;
  }

  @include media-breakpoint-down(md) {
    width: 45%;
    bottom: -6%;
    height: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    bottom: -21%;
  }

  @include media-breakpoint-down(vsm) {
    bottom: -25%;
  }

  @include media-breakpoint-down(tiny) {
    height: 1.3rem;
    bottom: -40%;
    border-radius: 0 0 1rem 1rem;
  }
}