@import '../../../scss/variables';
@import '../../../scss/mixins';

.social-list {
  @include flex-center;

  &__item {
    cursor: pointer;
    font-size: 1.3rem;
    transition: $main-transition;
    color: var(--e-global-color-accent);

    &:not(:last-child) {
      padding-right: 1.3rem !important;
    }

    &:hover {
      color: var(--e-global-color-primary);
    }
  }
}