@import '../../Scss/typography';
@import '../../Scss/mixins';
@import '../../Scss/variables';

.team-page {
  @include full-size;
  background-color: var(--e-global-color-secondary);
  position: relative;
  overflow: hidden;
  z-index: 10;

  &__main-info {
    height: 100%;
    padding: var(--space-huge) 0;
    overflow: hidden;
    background-image: url(../../Assets/JPG/team-bg.jpg);
    @include cover-background;
    background-position: top left;
    position: relative;
    z-index: 10;

    &--overlay {
      @include full-size;
      @include abs-position(0,0,0,0);
      background-color: rgba(38, 38, 38, 0.282);
      z-index: -1;
    }

    &--wrapper {
      @include full-size;
      @include flex-align-center;
    }

    &--content {
      flex: 65%;
      display: flex;
      flex-direction: column;
    }

    &--title {
      @include font-7;
      font-weight: 600;
      font-family: var(--e-global-typography-primary);
      color: var(--e-global-color-accent);
      text-transform: uppercase;
      margin-bottom: var(--space-sm) !important;

      &-green {
        color: var(--e-global-color-primary);
      }
    }

    &--desc {
      @include font-3;
      margin: 0;
      padding: 0;
      color: var(--e-global-color-text);
    }

    &--image-wrapper {
      flex: 35%;
      width: 100%;
      max-width: 25rem;
    }

    &--image {
      width: 100%;
      height: auto;
    }

    &--sponsors {
      margin-top: var(--space-lg);
    }
  }

  &__team {
    background-image: url(../../Assets/JPG/main-bg2.jpg);
    @include cover-background;
    padding: var(--space-xl) 0;

    &--list {
      margin-top: var(--space-lg);
    }
  }

  @include media-breakpoint-down(md) {
    &__main-info {
      padding: var(--space-xl) 0;

      &--wrapper {
        flex-wrap: wrap;
        flex-direction: column;
      }

      &--content {
        flex: 1;
        width: 100%;
        padding: .3rem;
        margin-bottom: var(--space-md);
      }

      &--image-wrapper {
        flex: 1;
        max-width: 18.75rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__team {
      padding: var(--space-lg) 0;
  
      &--list {
        margin-top: var(--space-lg);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__main-info {
      padding: var(--space-md) 0;

      &--image-wrapper {
        max-width: 12.25rem;
      }
    }
  }
}