@import '../../scss/variables';
@import '../../scss/typography';
@import '../../scss/mixins';

.player-page {
  @include full-size;
  padding-top: var(--header-height);
  overflow: hidden;
  position: relative;
  background-color: var(--e-global-color-secondary);

  &__top-row-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(../../Assets/JPG/bluebg.jpg);
    @include cover-background;
    background-position: top;
    z-index: 1;

    &:after {
      content: '';
      width: 100%;
      height: 5rem;
      @include abs-position(auto, auto, -1px, 50%);
      transform: translate(-50%, 0);
      background-image: url(../../Assets/SVG/bottom-shape-round.svg);
    }

    &--overlay {
      @include abs-full;
      opacity: 1;
      z-index: -1;
      background-color: var(--e-global-color-dark-light);
    }
  }

  &__top-row {
    @include flex-align-center;
    padding-top: var(--space-huge);
    padding-bottom: var(--space-huge);
  }

  &__player-info {
    z-index: 10;
    text-align: end;

    &--nickname {
      @include font-9;
      font-weight: 600;
      font-family: var(--e-global-typography-primary);
      color: var(--e-global-color-accent);
      margin-bottom: var(--space-sm) !important;
    }

    &--role {
      margin-bottom: var(--space-sm) !important;
      @include font-5;
      font-weight: 600;
      font-family: var(--e-global-typography-primary);
      color: var(--e-global-color-primary);
    }

    &--social {
      margin-top: var(--space-md);
    }

    &--vertical-line {
      @include abs-position(auto, auto, -2rem, 0);
      width: 100%;
      height: inherit;
      z-index: 100;
    }
  }

  &__stats-row-top {
    margin-top: var(--space-huge);
    margin-bottom: var(--space-xl);
  }

  &__about {
    padding-top: var(--space-xxl);

    &--text {
      margin-top: var(--space-lg);
      @include font-4;
      color: var(--e-global-color-accent);
    }
  }

  &__heading {
   margin-top: var(--space-xl);
  }

  &__stats-row-bottom {
    margin-top: var(--space-xl);
  }

  &__follow {
    padding-top: var(--space-huge);

    &--list {
      margin-top: var(--space-xxl);
    }
  }

  &__related-teammates {
    padding-top: var(--space-huge);
    padding-bottom: var(--space-huge);
    background-image: url(../../Assets/JPG/portal-bg.jpg);
    @include cover-background;
    padding-bottom: 5rem;

    &--list {
      padding-top: var(--space-lg);
    }
  }

  @include media-breakpoint-down(xl) {
    &__top-row {
      padding-top: var(--space-xl);
    }
  }

  @include media-breakpoint-down(md) {
    &__top-row {
      @include flex-align-center;
      flex-direction: column;
      flex-wrap: wrap;
      padding-bottom: var(--space-md);
    }

    &__about {
      padding-top: var(--space-lg);
  
      &--text {
        margin-top: var(--space-lg);
        @include font-4;
        color: var(--e-global-color-accent);
      }
    }

    &__stats-row-bottom {
      margin-top: var(--space-lg);
    }

    &__player-info {
      width: 100%;
      flex: 1;
      text-align: center;
      margin-top: var(--space-md);
      margin-bottom: var(--space-md);

      &--social {
        margin-top: var(--space-md);
        justify-content: center;
      }
    }

    &__player-image-wrapper {
      &--image {
        max-width: 13.75rem;
        margin-top: .625rem;
        margin-left: .625rem;
      }
  
      &:before {
        background-color: var(--e-global-color-primary);
        height: calc(100% + .8125rem);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__stats-row-top {
      margin-top: var(--space-xxl);
      margin-bottom: 2rem;
    }

    &__about {
      padding-top: var(--space-lg);
      padding-bottom: var(--space-md);
    }

    &__follow {
      padding-top: var(--space-lg);
      padding-bottom: var(--space-md);
    }

    &__related-teammates {
      padding-top: var(--space-lg);
      padding-bottom: var(--space-lg);
      background-image: url(../../Assets/JPG/portal-bg.jpg);
      @include cover-background;
    }
  }

  @include media-breakpoint-down(vsm) {
    &__top-row-wrapper {
      &:after {
        width: 130%;
      }
    }

    &__top-row {
      padding-bottom: var(--space-md);
    }

    &__player-info {
      &--nickname {
        margin-bottom: var(--space-vsm) !important;
      }
    }

    &__player-image-wrapper {
      &--image {
        max-width: 12.5rem;
        margin-top: .5rem;
        margin-left: .5rem;
      }
  
      &:before {
        background-color: var(--e-global-color-primary);
        width: 7.5rem;
        height: calc(100% + .625rem);
      }
    }
  }

  @include media-breakpoint-down(tiny) {
    &__top-row-wrapper {
      &:after {
        width: 140%;
      }
    }
  }
}