@import '../../../Scss/typography';
@import '../../../Scss/mixins';
@import '../../../Scss/variables';

.user-information {
  width: 18.75rem;
  height: 24.375rem;
  display: flex;
  flex-direction: column;
  position: inherit;
  border-radius: 8px;
  z-index: 100;
  user-select: none;
  border: 2px solid var(--e-global-color-light-border-dark);
  background-color: var(--e-global-color-dark-deep);
  color: var(--e-global-color-accent);

  &__header {
    flex: 2;
    @include flex-align-center;
    flex-direction: column;
    padding:  var(--space-lg) 0 var(--space-md) 0;
    border-bottom: 1px solid var(--e-global-color-text);

    &--image {
      width: 6rem;
      height: 6rem;
      margin-bottom: 1rem;

      &-icon {
       font-size: 6rem;
      }
    }

    &--name {
      margin-bottom: .4rem !important;
      font-size: 1.5rem;
      font-weight: 400;
      color: var(--e-global-color-primary);
    }

    &--email {
      font-size: 1rem;
      font-weight: 300;
    }
  }

  &__sign-out {
    flex: 1;
    @include flex-center;
  }

  &__close-button {
    @include abs-position(1%, 3%, auto, auto);
    cursor: pointer;
    font-size: 1.8rem;
    transition: color .2s ease;

    &:hover {
      color: var(--e-global-color-error);
    }
  }

  @include media-breakpoint-down(lg) {
    width: 17.75rem;
    height: 23.375rem;
  }

  @include media-breakpoint-down(sm) {
    width: 15.75rem;
    height: 20.375rem;

    &__header {
      padding:  var(--space-md) 0 var(--space-md) 0;

      &--image {
        width: 5rem;
        height: 5rem;

        &-icon {
          font-size: 5rem;
         }
      }

      &--name {
        margin-bottom: .35rem !important;
        font-size: 1.3rem;
      }
  
      &--email {
        font-size: .9rem;
      }
    }
  }

  @include media-breakpoint-down(vsm) {
    width: 13.75rem;
    height: 18.375rem;

    &__header {
      &--image {
        width: 4rem;
        height: 4rem;

        &-icon {
          font-size: 4rem;
         }
      }

      &--name {
        font-size: 1.1rem;
      }
  
      &--email {
        font-size: .75rem;
      }
    }
  }
}