@import '../../../Scss/typography';
@import '../../../Scss/mixins';
@import '../../../Scss/variables';

.shop-item-details {
  @include media-breakpoint-down(xl) {
    margin-top: var(--space-md);
  }

  &__stars {
    margin-bottom: var(--space-sm);
  }

  &__price {
    margin-bottom: var(--space-md);
  }

  &__text {
    margin-bottom: var(--space-lg);
  }

  &__button {
    margin-bottom: var(--space-md);
  }

    @include media-breakpoint-down(sm) {
      &__stars {
        margin-bottom: var(--space-vsm);
      }
    
      &__price {
        margin-bottom: var(--space-sm);
      }
    
      &__text {
        margin-bottom: var(--space-md);
      }
    
      &__button {
        margin-bottom: var(--space-sm);
      }
  }
}