@import '../../../Scss/typography';
@import '../../../Scss/mixins';

%shop-item-details-price {
  @include oswald-lg;
  color: var(--e-global-color-primary);
}

.shop-item-details {
  &__price-wrapper {
    @include flex-align-center;

    &--price {
      @extend %shop-item-details-price;

      &-old {
        @extend %shop-item-details-price;
        margin-right: 1rem !important;
        text-decoration: line-through;
        color: var(--e-global-color-text);
      }

      &-new {
        @extend %shop-item-details-price;
      }
    }
  }

  &__categories {

  }

  @include media-breakpoint-down(xl) {
    margin-top: var(--space-md);
    padding: 0;
  }
}