@import '../../../Scss/typography';
@import '../../../Scss/mixins';

.breadcrumbs {
  width: 100%;
  height: auto;

  &__list {
    display: flex;

    &--item {
      position: relative;
      margin-right: .3rem !important;

      &:not(:last-child) {
        &::after {
          content: '\00bb';
          height: 100%;
          @include abs-position(0, auto, auto, 80%);
          color: var(--e-global-color-primary);
        }
      }
    }

    &--link {
      margin-right: 1rem;
      @include font-3;
      font-family: var(--e-global-typography-primary);
      font-weight: 400;
      color: var(--e-global-color-grey-light);

      &:hover {
        opacity: .9;
        color: var(--e-global-color-grey-light);
      }

      &-active {
        color: var(--e-global-color-primary);

        &:hover {
          color: var(--e-global-color-primary);
          opacity: .9;
        }
      }
    }
  }
}