@import './Scss/mixins';
@import './Scss/variables';

.app {
  @include full-size;
  position: relative;
  overflow: hidden;

  &__header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9910;
  }

  &__hamburger-menu {
    position: fixed;
    top: 1.4rem;
    right: 1.4rem;
    z-index: 9999;
  }

  
  @include media-breakpoint-down(vsm) {
    &__hamburger-menu {
      top: 1.4rem;
      right: 1rem;
    }
  }
}