@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap&family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul, li {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

a {
  text-decoration: none !important;  
}

figure {
  margin-bottom: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: 'Oswald', -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Colors */
  --e-global-color-primary: #68fe9a;
  --e-global-color-secondary: #11131c;
  --e-global-color-dark-deep: #0f1014;
  --e-global-color-dark-light: #ffffff0a;
  --e-global-color-accent: #fff;
  --e-global-color-text: #adb0bc;
  --e-global-color-text-light: #f7f7f7;
  --e-global-color-grey-light: #c1c1c1;
  --e-global-color-grey-light-2: #ADB0BCC2;
  --e-global-color-light-border: #ffffff21;
  --e-global-color-light-border-dark: #91919121;
  --e-global-color-error: #ff0033;
  --e-global-color-google: #dd4b39;
  --e-global-color-facebook: #4267B2;

  /* Fonts */
  --e-global-typography-primary: "Oswald";
  --e-global-typography-secondary: "Archivo Black";
  --e-global-typography-tertiary: "Roboto";
  --e-global-typography-fourth: "Montserrat";

  /* Sizes */
  --font-size-1: 12px; 
  --font-size-2: 14px; 
  --font-size-3: 16px; 
  --font-size-4: 20px; 
  --font-size-5: 24px; 
  --font-size-6: 30px; 
  --font-size-7: 38px; 
  --font-size-8: 46px; 
  --font-size-9: 56px; 
  --font-size-10: 68px;

  /* Line height */
  --line-height-1: 20px;
  --line-height-2: 22px;
  --line-height-3: 24px;
  --line-height-4: 28px;
  --line-height-5: 32px;
  --line-height-6: 38px;
  --line-height-7: 46px;
  --line-height-8: 54px;
  --line-height-9: 64px;
  --line-height-10: 76px;

  /* Spaces */
  --baseline: 24px;
  --space-tiny: calc(var(--baseline)/4);
  --space-vsm: calc(var(--baseline)/3);
  --space-sm: calc(var(--baseline)/2);
  --space-md: var(--baseline);
  --space-lg: calc(var(--baseline)*2);
  --space-xl: calc(var(--baseline)*3);
  --space-xxl: calc(var(--baseline)*4);
  --space-xxxl: calc(var(--baseline)*5);
  --space-huge: calc(var(--baseline)*6);

  /* Measures */
  --header-height: 5.125rem;
}

.transform-element-left {
  transition: all .4s ease;
  transform: translateX(0px);
}

.transform-element-right {
  transition: all .4s ease;
  transform: translateX(0px);
}