.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards
}

.fade-in-with-delay {
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards
}

.top-appear {
	animation-name: topAppear;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.4s;
  animation-delay: 1s;
  animation-fill-mode: forwards
}

@keyframes fadeInOpacity {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes topAppear {
  0% { transform: translateY(-1000px); }
  100% { transform: translateY(0px); }
}