@import './variables';

@mixin transform-element($name, $direction, $transform-number) {
  .transform-element-#{$name} {
    transition: all .4s ease;
    transform: translateX(0px);

    @if $direction == left {
      transform: translateX(-$transform-number * 1px);
    }
    @if $direction == right {
      transform: translateX($transform-number * 1px);
    }
  }
}

%abs {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin abs-position ($top, $right, $bottom, $left) {
  position: absolute; 
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin abs-full {
  @extend %abs;
  top: 0;
}

@mixin abs-center {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

@mixin abs-bottom {
  @extend %abs;
  bottom: 0;
}

@mixin abs-top {
  @extend %abs;
  top: 0;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin object-fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
}