@import '../../../scss/variables';
@import '../../../scss/typography';
@import '../../../scss/mixins';

.brand-heading {
  display: inline-block;
  padding: .3rem 0 0 2rem;
  text-transform: uppercase;
  position: relative;
  
  &__title {
    @include font-9;
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-secondary);
  }

  &__sub-title {
    @include font-4;
    font-weight: 600;
    font-family: var(--e-global-typography-secondary);
    color: var(--e-global-color-grey-light-2);
  }

  &__line {
    height: 100%;
    width: .5rem;
    @include abs-position(5px, auto, auto, 0);
    background-color: var(--e-global-color-primary);
  }

  @include media-breakpoint-down(md) {
    padding: .3rem 0 0 1.6rem;

    &__line {
      width: .4rem;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: .3rem 0 0 1.2rem;
  }

  @include media-breakpoint-down(vsm) {
    padding: .3rem 0 0 1rem;
  }
}