@import '../../../scss/variables';
@import '../../../scss/typography';

.brand-heading {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: .3rem 0 0 2rem;

  &--title {
    @include main-heading;
  }

  &--sub-title {
    @include archivo-medium;
    color: var(--e-global-color-text);
  }

  &--line {
    position: absolute;
    top: 5px;
    left: 0;
    height: 100%;
    width: .5rem;
    background-color: var(--e-global-color-primary);
  }

  @include media-breakpoint-down(md) {
    padding: .3rem 0 0 1.6rem;
  }

  @include media-breakpoint-down(sm) {
    padding: .3rem 0 0 1.2rem;
  }

  @include media-breakpoint-down(vsm) {
    padding: .3rem 0 0 1rem;
  }
}