@import '../../../scss/typography';
@import '../../../scss/variables';
@import '../../../scss/mixins';

.footer-list-navigation {
  @include full-size;

  &__list {
    @include full-size;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: block;
    transition: all .5s;
    cursor: pointer;
    margin-bottom: var(--space-md) !important;
    border-radius: 0 10px;
    border: 2px solid transparent;
    background-color: var(--e-global-color-dark-light);

    &--link {
      @include full-size;
      display: block;
      padding: 15px 20px !important;
      @include oswald-sm;
      text-transform: uppercase;
      color: var(--e-global-color-accent);

      &:hover {
        color: var(--e-global-color-primary);
      }
    }
  }
}