@import '../../../Scss/typography';
@import '../../../Scss/variables';

.button-sign-out {
  padding: .5rem 1rem;
  outline: none;
  transition: background-color .2s ease;
  border-radius: 6px;
  border: 1px solid var(--e-global-color-text);
  @include font-3;
  font-family: var(--e-global-typography-secondary);
  letter-spacing: 1px;
  background-color: transparent;
  color: var(--e-global-color-accent);

  &:hover {
    background-color: var(--e-global-color-error);
  }

  @include media-breakpoint-down(md) {
    padding: .5rem .8rem;
  }
}