@import '../../../Scss/typography';
@import '../../../Scss/variables';

.review {
  display: flex;
  margin-bottom: var(--space-lg);
  border-left: thin solid var(--e-global-color-primary);

  &__icon-wrapper {
    width: 2rem;
    height: 2rem;
    margin-left: var(--space-sm);

    &--icon {
      font-size: var(--font-size-7);
      color: var(--e-global-color-accent);
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    margin-left: var(--space-md);

    &--user-name {
      @include font-2;
      color: var(--e-global-color-text);
    }

    &--text {
      margin-bottom: .5rem !important;
      @include font-3;
      color: var(--e-global-color-accent);
    }
  }

  &__likes-list {
    display: flex;

    &--item {
      cursor: pointer;
      color: var(--e-global-color-text);

      &:not(:last-child) {
        margin-right: var(--space-sm) !important;
      }
    }

    &--icon {
      margin-left: .2rem;
      color: var(--e-global-color-text);
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: calc(var(--space-md) + .4rem);

    &__icon-wrapper {
      &--icon {
        font-size: var(--font-size-6);
      }
    }
  }
}