@import '../../../Scss/mixins';
@import '../../../Scss/typography';

.match-score {
  @include flex-align-center;
  margin: 0 2rem;
  z-index: 5;
  @include font-9;
  font-weight: 600;
  font-family: var(--e-global-typography-tertiary);
  color: var(--e-global-color-primary);

  &__separator {
    margin: 0 .6rem;
  }

  @include media-breakpoint-down(lg) {
    margin: 0 1.4rem;

    &__separator {
      margin: 0 .5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    margin: 0 1rem;
  }

  @include media-breakpoint-down(vsm) {
    margin: 0 .8rem;

    &__separator {
      margin: 0 .24rem;
    }
  }
}