@import '../../../Scss/typography';
@import '../../../Scss/mixins';

.login-link {
  @include flex-align-center;
  transition: color .2s ease;
  text-transform: uppercase;
  color: var(--e-global-color-accent);

  &:hover {
    color: var(--e-global-color-primary) !important;
  }

  &__icon {
    margin-right: .5rem;
  }

  &__title {
    display: inline-block;
    @include oswald-sm;
  }
}